manifest {
    mainScript = 'kallisto.nf'
}

params { 
  output = "results/"
} 

process {
    container = 'cbcrg/kallisto-nf@sha256:9f840127392d04c9f8e39cb72bcd62ff53cfe0492dde02dc3749bf15f1c547f1'
    publishDir = [path: params.output, mode: 'copy', overwrite: 'true']
    executor = 'google-lifesciences'

    withName: 'index' {
        container = 'cbcrg/kallisto-nf@sha256:9f840127392d04c9f8e39cb72bcd62ff53cfe0492dde02dc3749bf15f1c547f1'
        cpus = 1
        memory = '4 GB'
    }

    withName: 'mapping' {
        container = 'cbcrg/kallisto-nf@sha256:9f840127392d04c9f8e39cb72bcd62ff53cfe0492dde02dc3749bf15f1c547f1'
        cpus = 2
        memory = '10 GB'
    }

    withName: 'sleuth' {
        container = 'cbcrg/kallisto-nf@sha256:9f840127392d04c9f8e39cb72bcd62ff53cfe0492dde02dc3749bf15f1c547f1'
        cpus = 1
        memory = '6 GB'
    }

    withName: 'visualisations' {
        container = 'lifebitai/vizjson:latest'
'
        cpus = 1
        memory = '3 GB'
    }

    withName: 'multiqc' {
        container = 'maxulysse/multiqc:1.0'
        cpus = 1
        memory = '2 GB'
    }

} 

profiles {
    crg {
        process {
          executor='crg'
          queue='cn-el6'
          memory='16G'
          cpus='12'
        }
    }
}

google {
    lifeSciences.bootDiskSize = 100.GB
    lifeSciences.preemptible = true
    region = 'europe-west1'
}